<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org", lang="hr">
<head>
  <title>TO DO APP</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/allStyle.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <h1>TO DO APLIKACIJA</h1>
</header>
<nav>
  <ul>
    <li><a class="nav" href="/home">Početna stranica</a></li>
    <li><a class="nav" href="/add-todo">Dodaj aktivnost</a>
    <li><a class="nav" href="/list-of-todos">Lista aktivnosti</a></li>
  </ul>
  <a class="logoutBtn" href="/logout">Odjava</a>
</nav>
<article>
  <div class="formDiv">
    <form action ="/list-of-todos" method ="post">
      <h3>Unos aktivnosti</h3>
      <label>Datum:</label>
      <input type ="date"  th:value="${date}" name="date">
      <label>Aktivnost:</label>
      <input size="30" type ="text" th:value="${description}" name="description">
      <input type ="submit"/>
    </form>
  </div>
</article>
<footer>Datum posljednje promjene: 2022-09-17</footer>
</body>
</html>