<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org", lang="hr">
<head>
    <title>TO DO APP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/allStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <h1>TO DO APLIKACIJA</h1>
</header>
<nav>
    <ul>
        <li><a class="nav" href="/">Početna stranica</a></li>
        <li><a class="nav" href="/add-todo">Dodaj aktivnost</a>
        <li><a class="nav" href="/list-of-todos">Lista aktivnosti</a></li>
    </ul>
</nav>
<article>
    <div class="formDiv">
        <form class="form"  method="post" action="/login">
            <h2>Prijava</h2>
            <p>
                <label>Korisničko ime</label>
                <input type="text" name="username" required autofocus>
            </p>
            <p>
                <label>Lozinka</label>
                <input type="password" name="password" required>
            </p>
            <button type="submit">Prijavi se</button>
            <p>
                Nemate korisnički račun?
                <a class="regBtn" href="/register"><u>Registracija</u></a>
            </p>
        </form>
    </div>
</article>
<footer>Datum posljednje promjene: 2022-09-17</footer>
</body>
</html>