<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org", lang="hr">
<head>
    <title>TO DO APP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/allStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <h1>TO DO APLIKACIJA</h1>
</header>
<article>
    <div class="divReg">
        <img class="img" src="checkMark.jpg" alt="Check sign">
        <h3>Uspješno ste se registrirali!</h3>
        <h4><a class="linkBack" href="/login"><u>Kliknite ovdje za prijavu</u></a></h4>
    </div>
</article>
</body>
</html>